.search-container {
    width: 35vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.search-container input, button {
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
}

.search-container input {
    width: 27vw;
    border: none;
    outline: none;
    background-color: aliceblue;
}

.search-button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.search-button:active {
    background-color: rgb(10, 10, 10);
}
